/* CSS for main component */
.main {
  display: flex;
  column-gap: 170px;
  background-image: url("../../images/Rectangle\ 502.png");
  background-repeat: no-repeat;
  background-position-x: right;
  padding-top: 91px;
}

.main__victor__title {
  display: flex;
  column-gap: 20px;
  padding-left: 60px;
}

.main__victor__title__heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 8.31px;
}

.main__victor__title__text {
  font-size: 20px;
  line-height: 24px;
}

.main__victor__social {
  padding-left: 60px;
  margin-top: 49.62px;
}

.main__victor__social__heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 26px;
}

.main__victor__social__block {
  display: flex;
  column-gap: 45px;
  margin-bottom: 30px;
}
.main__victor__social__block > img {
  margin-top: 1em;
  height: 55px;
}

.main__victor__social__block__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.main__victor__social__block__text {
  color: #646e79;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.main__file__title {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
}

.main__file__card {
  padding: 54.57px 38.4px;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  background: #ffffff;
  margin-top: 24px;
}
.main__file__btn {
  width: 450px;
  height: 55px;
  font-weight: 600;
  font-size: 22px;
  color: white;
  background: #4353ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 1120px) {
  .main {
    background-image: none;
    column-gap: 7em;
  }
  .main__file__btn {
    width: 100%;
  }
}
@media screen and (max-width: 724px) {
  .main {
    display: grid;
    grid-template-columns: auto;
    margin: 1em;
  }
}
