/* CSS for header component */
.header {
  background-image: url("../../images/Ellipse\ cut.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #ffca42;
  color: #1b3764;
}

.header__ellipse {
  float: left;
  margin-left: 76.99px;
  margin-top: 32.14px;
}

.header__title {
  display: flex;
  justify-content: center;
  padding-top: 62.41px;
  margin-right: 13em;
}

.header__title__img {
  height: 59.74px;
}

.header__title__heading {
  font-weight: 700;
  font-size: 59.7412px;
  margin-left: 18.67px;
  line-height: 125%;
  margin-top: -0.2em;
}

.header__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  margin-top: 20px;
}

.header__text {
  text-align: center;
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  margin-left: 68.34px;
  margin-right: 68.34px;
}

.header__mainImg {
  width: 100%;
}
